<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tomo.mapper.MarketTokenInfoMapper">

    <resultMap id="MarketTokenInfoResultMap" type="com.tomo.model.market.MarketTokenInfo">
        <id property="id" column="id"/>
        <result property="chainIndex" column="chain_index"/>
        <result property="coinId" column="coin_id"/>
        <result property="address" column="address"/>
        <result property="isNative" column="is_native"/>
        <result property="name" column="name"/>
        <result property="symbol" column="symbol"/>
        <result property="imageUrl" column="image_url"/>
        <result property="decimals" column="decimals"/>
        <result property="social" column="social" typeHandler="com.tomo.mapper.type.JsonTypeHandler"/>
        <result property="totalSupply" column="total_supply"/>
        <result property="riskLevel" column="risk_level"/>
        <result property="forceSafe" column="force_safe"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, coin_id,chain_index, address, is_native, name, symbol, image_url, decimals, social::text, total_supply,risk_level, force_safe, update_time, create_time
    </sql>
    <update id="updateById">
        UPDATE market_token_info
        SET
        <if test="coinId != null">coin_id = #{coinId},</if>
        <if test="chainIndex != null">chain_index = #{chainIndex},</if>
        <if test="address != null">address = #{address},</if>
        <if test="isNative != null">is_native = #{isNative},</if>
        <if test="name != null">name = #{name},</if>
        <if test="symbol != null">symbol = #{symbol},</if>
        <if test="imageUrl != null">image_url = #{imageUrl},</if>
        <if test="decimals != null">decimals = #{decimals},</if>
        <if test="social != null">social = #{social,typeHandler=com.tomo.mapper.type.JsonTypeHandler}::json,</if>
        <if test="totalSupply != null">total_supply = #{totalSupply},</if>
        <if test="riskLevel != null">risk_level = #{riskLevel},</if>
        <if test="forceSafe != null">force_safe = #{forceSafe},</if>
        <if test="updateTime != null">update_time = #{updateTime}</if>
        WHERE id = #{id}
    </update>

    <select id="selectMarketTokenInfoById" resultMap="MarketTokenInfoResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM market_token_info
        WHERE id = #{id}
    </select>

    <select id="selectByChainIndexAndAddress" resultMap="MarketTokenInfoResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM market_token_info
        WHERE chain_index = #{chainIndex} and address = #{address}
    </select>
    <select id="queryTokenList" resultMap="MarketTokenInfoResultMap" parameterType="java.util.List">
        SELECT
        <include refid="Base_Column_List"/>
        FROM market_token_info
        WHERE (chain_index, address) IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            (#{item.chainIndex}, #{item.address})
        </foreach>
    </select>
    <select id="querySocialNull" resultMap="MarketTokenInfoResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM market_token_info
        WHERE social is null
        order by id desc
        LIMIT 100
    </select>
    <select id="queryByCoinIds" resultMap="MarketTokenInfoResultMap">
        select
        <include refid="Base_Column_List"/>
        from market_token_info
        where coin_id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>

    </select>

    <insert id="insertMarketTokenInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO market_token_info(coin_id, chain_index, address, is_native, name, symbol, image_url, decimals,
                                      social, total_supply, risk_level, force_safe, update_time, create_time)
        VALUES (#{coinId}, #{chainIndex}, #{address}, #{isNative}, #{name}, #{symbol}, #{imageUrl}, #{decimals},
                #{social}, #{totalSupply}, #{riskLevel}, #{forceSafe}, #{updateTime}, #{createTime})
    </insert>
    <insert id="batchInsert">
        INSERT INTO market_token_info(coin_id,chain_index, address, is_native, name, symbol, image_url, decimals,
        social, total_supply, risk_level, force_safe, update_time, create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.coinId},#{item.chainIndex}, #{item.address}, #{item.isNative}, #{item.name}, #{item.symbol},
            #{item.imageUrl},
            #{item.decimals},
            #{item.social,typeHandler=com.tomo.mapper.type.JsonTypeHandler}::json, #{item.totalSupply},
            #{item.riskLevel}, #{item.forceSafe}, #{item.updateTime},
            #{item.createTime});

        </foreach>
    </insert>

</mapper>